/*-------------------- mobile --------------------*/
@media screen and (max-width: 768px) {
    .mv_area{
        img{
            width:100px;
        }
    }
}

@media (max-width: 900px) {
  .product-list {
    flex-direction: column;
    align-items: center;
  }

  .product-item {
    width: 100%;
    max-width: 420px;
  }

  .product-item img {
    height: 220px;
  }
}
