/*-------------------- css --------------------*/
html, body{
    margin:0;
    padding:0;
    height:100%;
}

.mv_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;

    img{
        width:150px;
    }
}

